:root {
	--bg: #DEDEDE;
	--bg-hover: #cdcdcd;
	--off-black: rgb(26, 26, 26);
}

* {
	margin: 0;
	box-sizing: border-box;
}

main {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

body {
	font-family: 'Arial', Courier, monospace;
	background-color: var(--bg);
}

body::before {
	z-index: 3;
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	width: 150vw;
	height: 150vh;
	mix-blend-mode: color-burn;
	opacity: 100%;
	filter: url(#noiseFilter) contrast(100%);
	animation: --move-static 0.5s infinite;
	pointer-events: none;
}

p {
	line-height: 150%;
	font-family: 'Silkscreen', 'Courier New', Courier, monospace;
	font-weight: 400;
  	font-style: normal;
}

mark {
	background-color: transparent;
	font-family: 'Silkscreen', 'Courier New', Courier, monospace;
	font-weight: 400;
  	font-style: normal;
}

h1 {
	font-size: 6em;
	text-align: center;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
	margin: 15px 0;
}

a {
	color: var(--off-black);
	text-decoration: none;
}

button {
	padding: 10px;
	background-color: rgb(255, 220, 62);
	border: 1px solid var(--off-black);
	border-radius: 5px;
	width: 200px;
	margin-top: 25px;
    align-self: center;
}

button:hover {
	cursor: pointer;
}

img {
	width: 500px;
	border-radius: 5px;
}

ol li {
	width: 80ch;
	margin: 10px 0;
}

footer {
	outline: rgb(0, 0, 0) solid 1px;
	padding: 20px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100vw;
}

svg {
	width: 0;
	height: 0;
}

.desktop {
	padding: 30px;
}

.container {
	margin: 0 10px;
}

.desktop-folder {
	outline: 1px solid black;
	padding: 20px;
	position: relative;
	width: 140px;
	height: 80px;
	margin: 2cap 0;
	border-radius: 0 3px 3px 3px;
	&:hover {
		cursor: pointer;
	}
}

.index-tab {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid var(--off-black);
	border-radius: 3px 3px 0 0;
	background-color: var(--bg);
	padding: 5px;
	width: 50px;
	height: 15px;
	position: absolute;
	bottom: 80px;
	left: -1px;
}

.file-corner {
	position: absolute;
	right: -1px;
    top: -1px;
	width: 25px;
	aspect-ratio: 1;
	border-top: #DEDEDE solid 1px;
	border-right: #DEDEDE solid 1px;
	border-left: rgb(0, 0, 0) solid 1px;
	border-bottom: rgb(0, 0, 0) solid 1px;
	z-index: 1;
	&::after {
		content: "";
		position: absolute;
		background: var(--off-black);
		width: 35px;
		height: 1px;
		transform: rotate(45deg);
		top: 11px;
		right: -6px;
	}
}

.file-desktop {
	position: relative;
	width: 100px;
	height: 120px;
	border: rgb(0, 0, 0) solid 1px;
	margin: 20px 0;
	z-index: 0;
}

@view-transition {
  navigation: auto;
}

.post-title {
  view-transition-name: post-title;
}

.folder {
	view-transition-name: folder-expand;
}

.post-title { view-transition-name: post-title; }

.folder { view-transition-name: folder-expand;}

::view-transition-old(post-title),
::view-transition-new(post-title) {
  animation-duration: .5s;
}


@keyframes --move-static {
	0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(5%,5%) }
    30% { transform: translate(-5%,-5%) }
    40% { transform: translate(5%,5%) }
    50% { transform: translate(-5%,5%) }
    60% { transform: translate(5%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-5%,0) }
    90% { transform: translate(5%,5%) }
    100% { transform: translate(-5%,0) }
}
