---
import BaseHead from '../components/BaseHead.astro';
import ContextMenu from '../components/ContextMenu.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Folder from '../components/Folder.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="blog" description="blog" />
	</head>
	<body>
		<ContextMenu/>
		<Header/>
		<main>
			<a href="/">Back to home</a>
			<div class="hero">
				<div class="deco"></div>
				<h1 class="post-title">Blogs</h1>
				<p>Mijn collectie van blogs van de sprekers voor de Minor Web Design & Development (MWDD)</p>
			</div>
			<article>
				<Folder url="/blog/kilian" name="Kilian" session="00"/>
				<Folder url="/blog/ppk" name="PPK" session="01"/>
				<Folder url="/blog/nils" name="Nils" session="02"/>
				<Folder url="/blog/robbert" name="Robbert" session="03"/>
				<Folder url="/blog/rosa" name="Rosa" session="04"/>
				<Folder url="/blog/johan" name="Johan" session="05"/>
				<Folder url="/blog/smash1" name="Smashing conf" session="dag 1"/>
				<Folder url="/blog/smash2" name="Smashing conf" session="dag 2"/>
				<Folder url="/blog/hans" name="Hans" session="06"/>
				<Folder url="/blog/q42" name="Q42" session="07"/>
				<Folder url="/blog/voorhoede" name="Voorhoede" session="08"/>
				<Folder url="/blog/twyw1" name="TWYW" session="dag 1"/>
				<Folder url="/blog/twyw2" name="TWYW" session="dag 2"/>
				<Folder url="/blog/cssday1" name="CSS Day" session="dag 1"/>
				<Folder url="/blog/cssday2" name="CSS Day" session="dag 2"/>
			</article>
		</main>
		<Footer/>
	</body>
</html>

<style>
	:root {
	--bg: #DEDEDE;
	--bg-hover: #cdcdcd;
	--off-black: rgb(26, 26, 26);
	}

	main {
		align-items: center;
	}

	article {
		background: blue;
		display: flex;
		flex-direction: column;
		outline: 1px solid var(--off-black);
		padding: 75px 25px 40px 25px;
		border-radius: 5px;
		width: min(1000px, 100%);
		margin: 0 20px;
	}

	.hero {
		padding: 50px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.deco {
		width: 15px;
		aspect-ratio: 1;
		box-shadow:
		60px 0 red,
		15px 0 green,
		30px 0 rgb(105, 41, 255),
		45px 0 blue;
		animation: --color-boxes;  
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-timing-function: steps(2);
	}
	.blog-content {
		width: 80ch;
		padding: 25px 0;
	}

	.odd {
		left: 45px;
	}

	.ref {
		width: 80ch;
	}

	.even {
		right: 45px;
	}

	.middle {
		right: 350px;
	}

	.blog-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.active {
		background: var(--bg-hover);
	}

	.vakken-container {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 25px;
		flex-wrap: wrap;
	}

	@keyframes moveUp {
		0% {
			margin-top: -25px;
		}
		100% {
			margin-top: 0;
		}
	}

	@media (max-width: 0px) {
		.odd {
			left: 0px;
		}

		.even {
			right: 0;
		}

		.middle {
			right: 0;
		}
	}

</style>