---
import BaseHead from '../components/BaseHead.astro';
import ContextMenu from '../components/ContextMenu.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<!-- <svg>
			<filter id="noiseFilter">
				<feTurbulence
				type="noise"
				baseFrequency="1"
				numOctaves="8"
				stitchTiles="stitch"
				>
				</feTurbulence>
			</filter>
		</svg> -->
		<div id="preloader" class="fixedContainer">
			<div class="loadingScreen">
				<div class="containerLoading">
					<p class="topOne">Loading</p>
					<span class="deco"></span>
					<div class="leftInfo">
						<p>>Init...</p>
						<p>>Init creativity...</p>
						<p>>Booting...</p>
					</div>
					<div class="counterBox">
						<div class="counterOutline">
							<h1 class="counter">0%</h1>
						</div>
						<p>Booting the system...</p>
					</div>
				</div>
			</div>
		</div>
		<ContextMenu/>
		<main>
			<section class="desktop">
				<a href="/blogs">
					<div class="container">
						<div class="desktop-folder">
							<div class="index-tab"></div>
						</div>
						<p>Blogs</p>
					</div>
				</a>
				<a href="/leerdoelen">
					<div class="container">
						<div class="desktop-folder">
							<div class="index-tab"></div>
						</div>
						<p>Leerdoelen</p>
					</div>
				</a>
				<a href="/vakken">
					<div class="container">
						<div class="desktop-folder">
							<div class="index-tab"></div>
						</div>
						<p>Vakken</p>
					</div>
				</a>
				<a href="#">
					<div class="container-file">
						<div class="file-desktop">
							<div class="file-corner"></div>
						</div>
						<p>doelen.md</p>
					</div>
				</a>
			</section>
		</main>
		<footer>
			<nav>
				<div class="icon"></div>
			</nav>
		</footer>
	</body>
</html>

<style>
	main {
		align-items: start;
	}

	.icon {
		outline: 1px solid black;
		border-radius: 30px;
		width: 30px;
		height: 30px;
	}

	.fixedContainer {
		position: fixed;
		z-index: 10;
		background: var(--bg);
		color: var(--off-black);
	}

	.loadingScreen {
		font-size: 24px;
		inset: 0;
		width: 100vw;
	}

	.containerLoading {
		position: relative;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 200px 300px 300px;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		justify-items: center;
		align-items: center;
		margin: 45px;
		background-color: #9090903c;
		outline: 1px solid var(--off-black);
	}

	.counterBox {
		grid-area: 2 / 2 / 2 / 1;
		margin: 0 45px;
	}

	.topOne {
		grid-area: 1 / 1 / 2 / 2;
		justify-self: start;
		padding-left: 45px;
	}

	.leftInfo {
		grid-area: 3 / 1 / 4 / 2;
		justify-self: start;
		padding-left: 45px;
	}

	.deco {
		grid-area: 2 / 2 / 3 / 3;
		display: block;
		position: relative;
		margin: 10px;
		width: 2px;
		height: 50px;
		background: var(--off-black);
	}

	.containerLoading::after {
		content: "";
		top: 0;
		left: 0;
		position: absolute;
		border-left: var(--off-black) solid 2px;
		border-top: var(--off-black) solid 2px;
		width: 40px;
		height: 40px;
	}

	.containerLoading::before {
		content: "";
		bottom: 0;
		right: 0;
		position: absolute;
		border-right: var(--off-black) solid 2px;
		border-bottom: var(--off-black) solid 2px;
		width: 40px;
		height: 40px;
	}

	.counter {
		font-size: 8em;
		font-weight: bold;
		font-family: sans-serif;
	}

	.counterOutline {
		outline: 1px solid var(--off-black);
		position: relative;
		width: 400px;
		aspect-ratio: 10/1;
		margin: 25px 0;
	}

	.counterOutline::after {
		content: "";
		top: 0;
		position: absolute;
		border-left: var(--off-black) solid 2px;
		border-top: var(--off-black) solid 2px;
		width: 40px;
		height: 40px;
	}

	.counterOutline::before {
		content: "";
		bottom: 0;
		right: 0;
		position: absolute;
		border-bottom: var(--off-black) solid 2px;
		border-right: var(--off-black) solid 2px;
		width: 40px;
		height: 40px;
	}

	.counterBox > p {
		background: var(--off-black);
		color: var(--bg);
	}

	.deco::after {
		content: "";
		display: block;
		position: absolute;
		margin: 10px;
		width: 50px;
		height: 2px;
		right: -35px;
		top: 13px;
		background: var(--off-black);
	}

	@keyframes fadeOut {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
			visibility: hidden;
		}
	}
</style>

<script>
	const counter = document.querySelector(".counter");
	const preloader = document.getElementById('preloader');

	let current = 0;
	const target = 100;
	const speed = 30;

	const interval = setInterval(() => {
	current++;
	counter.textContent = current + "%";

		if (current >= target) {
			counter.textContent = ":D";
			clearInterval(interval);
		}
	}, speed);

	if (sessionStorage.getItem('preloaderShown')) {
		preloader.style.display = 'none';
	} else {
		sessionStorage.setItem('preloaderShown', 'true');

		setTimeout(() => {
		preloader.style.display = 'none';
		}, 5000);
	}
</script>