---
import BaseHead from '../components/BaseHead.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<section class="desktop">
				<a href="/blogs">
					<div class="container">
						<div class="desktop-folder">
							<div class="index-tab"></div>
						</div>
						<p>Blogs</p>
					</div>
				</a>
					<div class="container">
						<div class="desktop-folder">
							<div class="index-tab"></div>
						</div>
						<p>Leerdoelen</p>
					</div>
					<div class="container">
						<div class="desktop-folder">
							<div class="index-tab"></div>
						</div>
						<p>Vakken</p>
					</div>
			</section>
		</main>
	</body>
</html>

<style>
	main {
		align-items: start;
	}
</style>