---
import BaseHead from '../components/BaseHead.astro';
import ContextMenu from '../components/ContextMenu.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<svg>
			<filter id="noiseFilter">
				<feTurbulence
				type="noise"
				baseFrequency="1"
				numOctaves="8"
				stitchTiles="stitch"
				>
				</feTurbulence>
			</filter>
		</svg>
		<ContextMenu/>
		<main>
			<section class="desktop">
				<a href="/blogs">
					<div class="container">
						<div class="desktop-folder">
							<div class="index-tab"></div>
						</div>
						<p>Blogs</p>
					</div>
				</a>
				<a href="/leerdoelen">
					<div class="container">
						<div class="desktop-folder">
							<div class="index-tab"></div>
						</div>
						<p>Leerdoelen</p>
					</div>
				</a>
				<a href="/vakken">
					<div class="container">
						<div class="desktop-folder">
							<div class="index-tab"></div>
						</div>
						<p>Vakken</p>
					</div>
				</a>
				<a href="#">
					<div class="container-file">
						<div class="file-desktop">
							<div class="file-corner"></div>
						</div>
						<p>doelen.md</p>
					</div>
				</a>
			</section>
		</main>
		<footer>
			<nav>
				icons go here
			</nav>
		</footer>
	</body>
</html>

<style>
	main {
		align-items: start;
	}
</style>

<script>
	document.documentElement.style.cursor = `url("assets/test.png") 16 16, auto`;
</script>