---
import BaseHead from '../components/BaseHead.astro';
import ContextMenu from '../components/ContextMenu.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<svg>
			<filter id="noiseFilter">
				<feTurbulence
				type="noise"
				baseFrequency="1"
				numOctaves="8"
				stitchTiles="stitch"
				>
				</feTurbulence>
			</filter>
		</svg>
		<div class="loadingScreen">
			<div class="counterBox">
				<h1 class="counter">0%</h1>
			</div>
			<p>Booting the system</p>
			<p>Kernel Initialization</p>
			<p>OS Services</p>
    	</div>
		<ContextMenu/>
		<main>
			<section class="desktop">
				<a href="/blogs">
					<div class="container">
						<div class="desktop-folder">
							<div class="index-tab"></div>
						</div>
						<p>Blogs</p>
					</div>
				</a>
				<a href="/leerdoelen">
					<div class="container">
						<div class="desktop-folder">
							<div class="index-tab"></div>
						</div>
						<p>Leerdoelen</p>
					</div>
				</a>
				<a href="/vakken">
					<div class="container">
						<div class="desktop-folder">
							<div class="index-tab"></div>
						</div>
						<p>Vakken</p>
					</div>
				</a>
				<a href="#">
					<div class="container-file">
						<div class="file-desktop">
							<div class="file-corner"></div>
						</div>
						<p>doelen.md</p>
					</div>
				</a>
			</section>
		</main>
		<footer>
			<nav>
				<div class="icon"></div>
			</nav>
		</footer>
	</body>
</html>

<style>
	main {
		align-items: start;
	}

	.icon {
		outline: 1px solid black;
		border-radius: 30px;
		width: 30px;
		height: 30px;
	}

	.loadingScreen {
		position: fixed;
		inset: 0;
		background: var(--off-black);
		color: var(--bg);

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		z-index: 9999;

		animation: fadeOut 1s ease 5s forwards; 
		}

	.counter {
		font-size: 8em;
		font-weight: bold;
		font-family: sans-serif;
	}

	.counterBox {
		outline: 1px solid white;
	}

	@keyframes fadeOut {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
			visibility: hidden;
		}
	}

	@view-transition {
		navigation: auto;
	}
</style>

<script>

	const counter = document.querySelector(".counter");

	let current = 0;
	const target = 100;
	const speed = 30;

	const interval = setInterval(() => {
	current++;
	counter.textContent = current + "%";

		if (current >= target) {
			counter.textContent = "Ready";
			clearInterval(interval);
		}
	}, speed);

</script>