---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="hero">
				<div class="deco"></div>
				<h1>Alisha's weekly <br> nerd blog</h1>
				<p>Mijn collectie van blogs van de sprekers voor de Minor Web Design & Development (MWDD)</p>
			</div>
			<article class="folder">
				<a href="href={`./blog/1/`}">
					<div class="map">
						<div class="tab odd">
							<mark>Kilian Valkhof</mark>
							<mark>01</mark>
						</div>
					</div>
				</a>
				<a href="blogs/wn2.html">
					<div class="map">
						<div class="tab even">
							<mark>PPK</mark>
							<mark>02</mark>
						</div>
					</div>
				</a>
				<a href="blogs/wn3.html">
					<div class="map">
						<div class="tab odd">
							<mark>Nils Binder</mark>
							<mark>03</mark>
						</div>
					</div>
				</a>
				<a href="blogs/wn4.html">
					<div class="map">
						<div class="tab middle">
							<mark>Robbert Broersma</mark>
							<mark>04</mark>
						</div>
					</div>
				</a>
				<a href="blogs/wn5.html">
					<div class="map">
						<div class="tab even">
							<mark>Rosa</mark>
							<mark>05</mark>
						</div>
					</div>
				</a>
				<a href="blogs/wn6.html">
					<div class="map">
						<div class="tab middle">
							<mark>Johan</mark>
							<mark>06</mark>
						</div>
					</div>
				</a>
				<a href="blogs/smashingconf.html">
					<div class="map">
						<div class="tab odd">
							<mark>Smashing conf</mark>
							<mark>dag 1</mark>
						</div>
					</div>
				</a>
				<a href="blogs/twyw.html">
					<div class="map">
						<div class="tab middle">
							<mark>TWYW</mark>
							<mark>dag 1</mark>
						</div>
					</div>
				</a>
				<div class="map">
					<div class="tab even">
						<mark>CSS day</mark>
						<mark>(soon)</mark>
					</div>
				</div>
				<button><a href="blogs/wn4.html">Random blog!</a></button>
			</article>
			<section class="desktop">
				<div class="container">
					<div class="desktop-folder">
						<div class="index-tab"></div>
					</div>
					<p>Blogs</p>
				</div>
				<div class="container">
					<div class="desktop-folder">
						<div class="index-tab"></div>
					</div>
					<p>Leerdoelen</p>
				</div>
				<div class="container">
					<div class="desktop-folder">
						<div class="index-tab"></div>
					</div>
					<p>Vakken</p>
				</div>
			</section>
		</main>
	</body>
</html>
