---
import BaseHead from '../components/BaseHead.astro';
import ContextMenu from '../components/ContextMenu.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="nl">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
<body>
	<ContextMenu/>
	<section>
		<main>
			<details class="auto-close" name="open_one">
				<summary>
					<p>leerdoel_1.md</p>
					<div class="file-corner"></div>
				</summary>
				<div class="content">
					A11y, accessibility, testen. Niet alleen bewust zijn maar ook echt begrijpen wat het beste werkt voor een bepaalde groep mensen en daar dan je product op aanpassen
				</div>
			</details>
			<details class="auto-close" name="open_one">
				<summary>
					<p>leerdoel_2.md</p>
					<div class="file-corner"></div>
				</summary>
				<div class="content">
					Kwaliteit > kwantiteit. Eigenlijk wil je liever een goed klein gedeelte hebben
					van een website dan de hele website die dan slecht gebouwd is en de "wauw" mist. Ik heb heel vaak dat ik maar gewoon iets wil maken dat "af"
					is en niet per se tot de details is uitgewerkt. Wat jammer is want ik kan best goed iets uitwerken als ik er echt voor ga zitten. Om dit
					leerdoel te halen ga ik hier bewuster van worden en ga ik me meer focusen op micro interacties/details.
				</div>
			</details>
				<details class="auto-close" name="open_one">
				<summary>
					<p>leerdoel_3.md</p>
					<div class="file-corner"></div>
				</summary>
				<div class="content">
					Professionele doelen: voor het professionele doel wil ik vooral meer initiatief nemen voor de taken binnen meesterproef omdat ik vaak wegval bij groeps projecten als iets niet gaat zoals ik dat wil. Ik ben van plan dit te doen door bepaalde taken op me te nemen, mijn mening naar de groep te uiten en vaker om hulp vragen als ik vast zit.
				</div>
			</details>
		</main>
	</section>
	<Footer/>
</body>
</html>

<style>
	details:nth-child(1)
	{
		left: 10px;
		top: 10px;
	}

	details:nth-child(2)
	{
		left: 40px;
		top: 10px;
	}

	details:nth-child(3)
	{
		left: 200px;
		bottom: 100px;
	}
</style>
<script>
	document.addEventListener('click', (event) => {
  document.querySelectorAll('details.auto-close').forEach((details) => {
    if (details.open && !details.contains(event.target)) {
      details.open = false;
    }
  });
});

</script>