---
import BaseHead from '../components/BaseHead.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import ContextMenu from '../components/ContextMenu.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
<body>
	<svg>
		<filter id="noiseFilter">
			<feTurbulence
			type="noise"
			baseFrequency="1"
			numOctaves="8"
			stitchTiles="stitch"
			>
			</feTurbulence>
		</filter>
	</svg>
	<ContextMenu/>
	<main>
		<h2>faka</h2>
	</main>
</body>
</html>