---
import BaseHead from '../components/BaseHead.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import ContextMenu from '../components/ContextMenu.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="nl">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
<body>
	<ContextMenu/>
	<Header/>
	<h1>Vakken</h1>
	<main>
		<details class="auto-close" name="open_one">
			<summary>
				<p>CSS.txt</p>
				<div class="file-corner"></div>
			</summary>
			<div class="deco-bar"></div>
			<div class="content">
				<h2>Inzichten</h2>
				<p>
					Tijdens deze 4 weken heb ik me kunnen verdiepen in diverse CSS selectors en functies waar ik nog nooit van had gehoord, en voor mij nieuw waren. Voor dit vak heb ik een control panel gemaakt dat van thema kan veranderen en de achtergrond animatie stopt en start. Ik heb extra aandacht besteed aan de details van het panel en dan met
					name de animaties op het scherm en de glossy buttons.
				</p>
				<h2>Wat ging goed?</h2>
				<p>Ik ben erg content met hoe het uiteindelijke panel eruitziet. Er zitten details in het scherm waarvan ik vind dat die erg goed gelukt zijn zoals:</p>
				<ul>
					<li>De state van de animatie</li>
					<li>Op welke mode je zit</li>
					<li>De deco elementen stoppen met hun eigen animatie als de playstate van de achtergrond animatie is gepauzeerd</li>
					<li>De state van de knop als iets is ingedrukt</li>
					<li>De output die je krijgt als je op een button hebt geklikt en de buttons zelf</li>
				</ul>
				<p>
					Mijn CSS experimenten heb ik goed tot een geheel gemaakt in het uiteindelijke panel. Ik ben blij met de style query thema's die de kleuren van het panel en de achtergrond veranderen. Vooral met :has, :checked en CSS variables werken vond ik heel leuk. Een voorbeeld hiervan is deze code:
				</p>
				<xmp>
	body:has([value="3D"]:checked) section dl > dd:nth-child(1) > dl > dd::after {
		content: "3D";
	}

	body:has([value="play"]:checked) {
	--playstate-flag: play;
		ol > li,
			section dl dd:nth-child(3) > dl > dd > dl,
			section dl dd:nth-child(2) > dl > div > dd,
				form:nth-child(2) label:nth-child(4) {
					animation-play-state: running;
				}
	}

	@container style(--playstate-flag: play)
	{	
		fieldset > label:nth-child(2) {
			background: radial-gradient(circle at 50% 90%, var(--clr-one-hover) 1px,
			var(--clr-two-hover), var(--clr-three-hover) 62%);
		}

		fieldset label:nth-child(3) {
			background-color: var(--btn);
			background: radial-gradient(circle at 50% 90%, var(--clr-one) 1px,
			var(--clr-two) 41%, var(--clr-three) 62%);
		}
	}
				</xmp>
				<h2>Wat ging minder?</h2>
				<p>Omdat ik het panel helemaal had geredesigned had ik minder tijd om te werken aan de andere dingen op de site o.a.:</p>
				<ul>
					<li>De achtergrond animaties</li>
					<li>De 3D animatie ook echt 3D en mooi maken</li>
					<li>De quirk mode</li>
					<li>De typografie bovenaan het panel en de chain met charms laten bewegen als je eroverheen gaat (nu staan ze stil)</li>
					<li>De draaiknop is er, maar werkt niet en heeft eigenlijk geen functionaliteit in de site</li>
				</ul>
				<p>notes: Ik zou in mijn vrije tijd misschien nog de animatie van de chain met charms toevoegen aan de site omdat ik weet hoe de code eruitziet voor deze animatie.</p>
				<h2>Wat heb ik geleerd?</h2>
				<p>Veel nieuwe CSS dingen die erg handig zijn om te gebruiken:</p>
				<ul>
					<li>:has</li>
					<li>:not</li>
					<li>style queries</li>
					<li>sibling-index en sibling-count</li>
					<li>hue-rotate</li>
					<li>Hoe je sin/cos/tan kan gebruiken om leuke vloeiende animaties te maken en SVG-filters.</li>
				</ul>
				<p>Ik vond CSS voor dit vak al best leuk, maar nu heb ik nieuwe selectors geleerd die ik kan toepassen op mijn toekomstige werk.</p>
				<h2>Wat wil ik verder nog ontdekken?</h2>
				<p>
					Ik wil nog veel meer met SVG filters doen, omdat ik deze pas in de laatste week had ontdekt en nog niet doorhad hoeveel coole dingen je er mee kan. Qua animaties heb ik al best veel gedaan maar ik zou wel meer willen animeren met gradients omdat ik dit tot nu toe erg weinig heb gedaan.
				</p>
			</details>
		</div>
		<details class="auto-close" name="open_one">
			<summary>
			<p>BT.txt</p>
			<div class="file-corner"></div>
			</summary>
			<div class="content">
				<h2>Inzichten</h2>
				<h3>Week 1</h3>
				<p>Ik ben nu nog bezig met data organiseren en groeperen op de pagina zodat het een logishe flow heeft. Ik wil dat je in een paar stappen door het formulier heen kan navigeren zonder dat het irritant wordt.</p>
				<p>Dingen die we hebben besproken:</p>
				<ul>
					<li>autocomplete attribute</li>
					<li>de css :has selector kan velden ook makkelijk verbergen ipv javascript te gebruiken</li>
					<li>input validation pattern="[0-9]{6}" voor wat je wel en niet in de input wilt hebben</li>
					<li>border: none; border-top: 3em solid white; voor de styling van legend zodat ie niet door de border heen staat</li>
					<li>Kijk meer naar input[type='radio'] input[type='text'] voor styling zodat je geen extra classes hoeft te gebruiken</li>
				</ul>
				<h3>Week 2</h3>
				<ul>
					<li>Denk meer aan de ux van je form -> bsn niet in 3 inputs maar 1, je mag de styling van de input wel zo maken als in de pdf</li>
					<li>de form over meerdere pagina's verspreiden is ook ok</li>
					<li>werk meer aan de styling van de site</li>
					<li>style voor radio buttons moet nog gebeuren</li>
				</ul>
				<h3>Week 3</h3>
				<ul>
					<li>je kan de steps navigatie "faken" door het op elke pagin'a anders te stijlen</li>
					<li>Maak alle optionele vragen anders dan de verplichte vragen</li>
					<li>Input validation</li>
					<li>nog een opsla knop met een feedback - "Je antwoorden zijn opgeslagen"</li>
					<li>Een intro tekst</li>
					<li>Een tekst nadat de vragen verstuurd zijn</li>
					<li>zet bv "een bsn bestaat uit 9 nummers in de label"</li>
					<li>leg uit wat je gaat doen met de verstuurde vragen?</li>
					<li>Misschien een controle pagina zodat je al je antwoorden weer kunt bekijken</li>
				</ul>
			</div>
		</details>
		<details class="auto-close" name="open_one">
			<summary>
				<p>HCD.txt</p>
				<div class="file-corner"></div>
			</summary>
			<div class="content">
				<h2>Inzichten</h2>
				<p>Ik vond dit vak wat minder, niet omdat het testen saai was maar omdat ik heel vaak vast zat met wat ik precies ging maken/wat ik ging doen met de Voice Over van de website. Dingen waar ik door testen achter kwam:</p>
				<ul>
					<li>Misschien niet de focus leggen op de vibe van een kleur en de pitch maar het gevoel dat het je geeft. Leuk dat een hogere pitch met een lichtere kleur wordt geassocieerd maar wat als je geen vibe voelt bij kleur? Het zien van dingen heeft veel impact op hoe je zintuigelijke ervaring dingen op neemt terwijl je het niet door hebt. Ik wil eigenlijk meer het gevoel geven dan echt zeggen: "hey kijk wordt blij want hier zie je de kleur geel!"</li>
					<li>Het idee van grotere tekst luider laten uitlezen en kleinere deco tekst kleiner te laten uitlezen was leuk in theorie maar in het echt waren de geluiden te zacht of te hard. Als ik het marge van het geluid kleiner maakte dan merkte je het verschil tussen de twee helemaal niet meer op.</li>
				</ul>
				<h2>Hoe heb ik het probleem opgelost?</h2>
				<p>
					Het probleem in het kort: Berend is blind en kan dus niet de uitstraling van een website zien. Een screen reader leest alles in dezelfde stem voor. Door mijn eigen "Opinionated screen reader" krijgt de website kleur op een andere manier.
				</p>
				<h3>Design principles</h3>
				<h4>Study situation</h4>
				<p>Berend gebruikt een screen reader om het web te navigeren.</p>
				<ul>
					<li>
						Gebruikt een inverted scherm overlay
					</li>
					<li>
						Zoom om dingen groter te maken en aan te klikken
					</li>
					<li>
						Moet selecteren wat hij voorgelezen wil hebben
					</li>
				</ul>
				<p>Bepaalde geluiden hebben ook een vibe -> niet te hard of te zachte geluiden gebruiken denk aan de geluiden van de zelfscan bij de supermarkt -> Dus wel gewoon op 1 toon maar andere stemmen mogen wel voor de vibe.</p>
				<p>Hoog contrast gebruiken -> vooral veel zwart/wit/grote dikke borders gebruiken voor contrast.</p>
				<p>Lekker grote tekst gebruiken -> Berend kijkt naar de vorm van de letters om een beetje te kunnen raden wat het woord kan zijn.</p>
				<h4>Ignore conventions</h4>
				<p>Conventies: één consistente stem gebuiken voor een screen reader -> bepaalde stemmen hebben een andere vibe dus om de zelfde stem voor alles te gebruiken was niet logisch</p>
				<h4>Prioritise identity</h4>
				<p>Vooral met geluid een soort van ervaring nabootsen op een schaal van een klein prototype.</p>
				<h4>Add nonsense</h4>
				<p>Achtergrond geluiden toegevoegd tijdens de voice over om de "sweet spot" te vinden voor de vibe. Omdat kleuren eigenlijk een sociaal concept zijn en niet echt een gevoel over brengen (als je ze niet kan zien) dacht ik eigenlijk aan wat wel een bepaalde vibe overbrengt: achtergrond geluiden! Hoewel je niet helemaal blauw als blauw kunt laten klinken kan je er wel een geluid aan koppelen zo als: rust -> zee -> kalmte -> fris</p>
				<p>En voor warmte/rood: passie -> vuur -> actie</p>
				<p>Vroege ochtend: Groen fris -> gras waaien -> boom waar blaadjes doorheen suusen</p>
				<p>Donker/zware vibe: regen / drums / gitaar = chaos -> de storm</p>
				<p>Op die manier heb ik toch wel een beetje de "vibe" van een website kunnen mee geven. Uiteindelijk heb ik het web een klein beetje expressiever en leuker gemaakt zodat Berend ook een beetje lol kan beleven.</p>
				<h4>Aanbevelingen</h4>
				<p>Als ik meer tijd had dan zou ik:</p>
				<ul>
					<li>Audio met de plaatjes</li>
					<li>Meer content op de pagina's zetten</li>
					<li>Meer kleine geluiden op de pagina doen</li>
					<li>Nog een andere pagina toevoegen met een andere vibe</li>
				</ul>
			</div>
		</details>
		<details class="auto-close" name="open_one">
			<summary>
				<p>API.txt</p>
				<div class="file-corner"></div>
			</summary>
			<div class="content">
				<h2>Inzichten</h2>
				<p>
					Ik kijk terug op dit vak als 1 van de leukere maar uitdagende projecten uit de minor. We mochten echt experimenteren met een framework in plaats van vanilla html, css en js. Ik vond dit erg fijn omdat dit is hoe ik de meeste code van andere websites zie die gebouwd zijn in react/laravel. Dit is ook handig voor later als ik een stage loop en daar een framework ga gebruiken voor een website.
				</p>
				<p>
					Aan 1 kant vond ik dat erg fijn maar aan de andere kant erg irritant met files vinden als ik iets moest aanpassen. Met vanilla code heb je eigenlijk maar een paar bestanden maar in een framework zijn dat er zoveel meer. Alle node.js files stonden meer in de weg. Ik vond het erg cool om te werken met een nieuwe technologie die ik nooit eerder heb gebruikt: THREE.js! Eigenlijk het werken met de library globe.gl (die THREE.js gebruikt en webgl). Ik heb het gevoel dat ik astro nu veel beter begrijp en veel meer wil gaan doen met Three.js nu dat ik al de basis kennis heb en weet hoe ik het kan gaan gebruiken in een project.
				</p>
				<h2>Wat ging goed?</h2>
				<p>De overal website maken! Het design is simpel maar doet wat het moet doen. Ik ben blij met hoe het er uit ziet en dat ik verschillende components heb kunnen gebruiken op 1 main pagina. Data inladen was soms erg irritant maar toen ik 1 puntje had waren de andere punten met data niet moeilijk meer om in te laten en te laten zien op de 3d bol, vooral hier was ik erg blij mee.</p>
				<p>De detail pagina maken was eigenlijk ook makkelijker dan ik eerst dacht. Met wat hulp van Cyd en de workshop met de katten pagina ging het best wel snel en had ik een detail pagina voor alle vluchten.</p>
				<h2>Wat kon beter/wat was moeilijk?</h2>
				<p>Eigenlijk alles met de astro site op onrender online krijgen. Eerst had ik problemen met de API omdat die werd geblokeerd door onrender en Netlify. Er zit een limit op opensky en waardoor ik steeds een timeout error kreeg van opensky. Nadat ik een halve dag met Jad naar deze error had gekeken waren er volgens hem nog 2 opties:</p>
				<ul>
					<li>Een nieuwe API vinden (pro's de site zou makkelijker online gezet worden, con's kost misschien te veel tijd om een heel nieuwe API in de bestaande site te gooien aangezien ik al de data uit opensky heb gehaald).</li>
					<li>Een if statement maken voor als de site op onrender zit. Als de site op onrender zit dan fetched ie de data uit een .json bestand in plaats van de API online. (pro's de site kan live worden gezet! con's nu wordt de data gefetched uit een .json document en niet uit een API).</li>
				</ul>
				<p>Ik heb de tweede optie gekozen omdat ik toch wel dezelfde data wou gebruiken zonder een hele refactor te doen op de website. Omdat ik dit probleem pas door had in de laatste week waar ik ook echt nog aan de website kon werken vond ik dit een goede oplossing die ik nog wel kon redden met de deadline.</p>
				<h2>Wat ik nog zou willen toevoegen met meer tijd?</h2>
				<p>
					Ik had tijdens dit vak wel last van te weinig tijd door smashing conf en ook doordat ik in de 1ste week nog niet echt een idee had van wat ik precies ging bouwen. In week 2 maakte ik wel grotere stappen door de opzet van de pagina te maken en door de 3d bol in de site te gooien. Door smashing conf en the web you want in week 3 had ik bijna niets aan de site kunnen doen behalve globe.gl in de site te zetten. In week 4 had ik wel iets meer gedaan maar het voelde niet alsof ik genoeg heb kunnen doen. Uiteindelijk heb ik wel de website af kunnen maken maar had ik wel meer de stijl willen finetunen als ik de tijd ervoor had/meer layouts proberen om te zien wat er misschien beter bij zou passen dan het huidige design van de pagina.
				</p>
			</div>
		</details>
	</main>
	<Footer/>
</body>
</html>

<style>
	main {
		justify-content: start;
		padding-inline: 20px;
		flex-direction: row;
	}
</style>

<script>
	document.addEventListener('click', (event) => {
  document.querySelectorAll('details.auto-close').forEach((details) => {
    if (details.open && !details.contains(event.target)) {
      details.open = false;
    }
  });
});

</script>