<div class="custom-menu" id="customMenu">
	<ul>
		<li><a href="/">Desktop</a></li>
		<li><a href={`/blogs`}>Blogs</a></li>
		<li><a href={`/vakken`}>Vakken</a></li>
		<li><a href={`/leerdoelen`}>Leerdoelen</a></li>
	</ul>
</div>

<style>
	.custom-menu {
		position: fixed;
		background: var(--bg);
		z-index: 2;
	}

	.custom-menu > ul {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 225px;
		background: var(--bg);
		li {
			font-family: 'pixel', Arial, Helvetica, sans-serif;
			font-weight: 400;
			font-style: normal;
			border: 1px solid var(--off-black);
			padding: 10px;
			margin-left: -1px;
			margin-top: -1px;
			margin-bottom: -1px;
		}
	}
</style>

<script>
	const customMenu = document.getElementById("customMenu");
	document.addEventListener("contextmenu", (event) => {
		event.preventDefault();
		customMenu.style.top = `${event.clientY}px`;
		customMenu.style.left = `${event.clientX}px`;
		customMenu.style.display = "block";
	});

	document.addEventListener("click", () => {
		customMenu.style.display = "none";
	});
</script>