---
interface Props {
  url: string;
  name: string;
  session: string;
  side: string;
}

const { url, name, session, side } = Astro.props;
---

<li class="map">
	<a href={url}>
		<div class={`tab ${side}`}>
			<mark>{name}</mark>
			<mark>{session}</mark>
		</div>
	</a>
</li>

<style>
	a {
		display: inline-block;
		padding: 12px 132px;
	}

	mark {
		color: var(--off-black);
	}

	li {
		list-style: none;
	}

	.map {
		background: radial-gradient(var(--folder-color), var(--switch-folder));
		outline: 1px solid var(--off-black);
		position: relative;
		padding: 10px;
		height: 35px;
		animation: moveUp 1s ease;
		&:hover {
			cursor: pointer;
			background: radial-gradient(var(--folder-hov), var(--bg-hover));
			.tab {
				background-color: var(--bg-hover);
			}
		}
	}

	.tab {
		width: 250px;
		border-top: 1px solid var(--off-black);
		border-left: 1px solid var(--off-black);
		border-right: 1px solid var(--off-black);
		position: absolute;
		bottom: 35px;
		padding: 10px 40px;
		display: flex;
		background-color: var(--bg);
		justify-content: space-between;
	}

	.odd {
		left: 45px;
	}

	.even {
		right: 45px;
	}

	.middle {
		right: 350px;
	}

	@media (max-width: 800px) {
		.odd {
			left: 10px;
		}

		.even {
			right: 150px;
		}

		.middle {
			right: 10px;
		}
	}

	@media (max-width: 500px) {
		.odd {
			left: 0;
		}

		.even {
			right: 15px;
		}

		.middle {
			right: 0;
		}
	}
</style>