---
interface Props {
  url: string;
  name: string;
  session: string;
  side: string;
}

const { url, name, session, side } = Astro.props;
---

<li class="map">
	<a href={url}>
		<div class={`tab ${side}`}>
			<mark>{name}</mark>
			<mark>{session}</mark>
		</div>
	</a>
</li>

<style>
	li {
		list-style: none;
	}

	.map {
		background: radial-gradient(blue, white);
		outline: 1px solid var(--off-black);
		position: relative;
		padding: 10px;
		height: 35px;
		animation: moveUp 1s ease;
	}

	.map:hover {
		cursor: pointer;
		background: radial-gradient(rgb(0, 0, 218),  var(--bg-hover));
		.tab {
			background-color: var(--bg-hover);
		}
	}

	.tab {
		width: 250px;
		color: black;
		border-top: 1px solid var(--off-black);
		border-left: 1px solid var(--off-black);
		border-right: 1px solid var(--off-black);
		position: absolute;
		bottom: 35px;
		padding: 10px 40px;
		display: flex;
		background-color: white;
		justify-content: space-between;
	}

	.odd {
		left: 45px;
	}

	.even {
		right: 45px;
	}

	.middle {
		right: 350px;
	}

	@media (max-width: 0px) {
		.odd {
			left: 0px;
		}

		.even {
			right: 0;
		}

		.middle {
			right: 0;
		}
	}
</style>