---
const currentPath = Astro.url.pathname;
---


<footer>
	<nav>
		<ul>
			<li><a href="/" class={currentPath === "/" ? "active" : ""}>Desktop</a></li>
			<li><a href="/vakken" class={currentPath === "/vakken" ? "active" : ""}>Vakken</a></li>
			<li><a href="/blogs" class={currentPath === "/blogs" ? "active" : ""}>Nerds</a></li>
			<li><a href="/leerdoelen" class={currentPath === "/leerdoelen" ? "active" : ""}>Leerdoelen</a></li>
		</ul>
	</nav>
</footer>

<style>
	footer {
		background-color: var(--bg);
		outline: var(--off-black) solid 1px;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100vw;
		ul {
			display: flex;
			padding: 0;
			list-style-type: none;
			li {
				border-right: 1px solid var(--off-black);
				padding: 10px;
				width: 130px;
			}
		}
	}

	 a.active {
		text-decoration: underline;
		color: var(--bg);
		background: var(--folder-color);
		padding: 10px;
		border-radius: 60px 60px 0 0 ;
	}
</style>
