<header>
	<ul>
		<li><a href="/">Desktop</a></li>
		<li><a href={`/blogs`}>Leerdoelen</a></li>
		<li><a href="vakken.html">Vakken</a></li>
	</ul>
</header>

<style>
	header {
		margin: 25px;
		display: flex;
		justify-content: center;
	}

	header > ul {
		margin: 0;
		padding: 0;
		list-style: none;
		justify-content: center;
		width: 225px;
		box-shadow: 7px 7px 0 var(--off-black);
		li {
			border: 1px solid var(--off-black);
			padding: 10px;
			margin-left: -1px;
			margin-top: -1px;
			margin-bottom: -1px;
		}
	}
</style>