<header>
	<nav>
		<ul>
			<li>Battery</li>
			<li id="timeDesktop"></li>
		</ul>
	</nav>
</header>

<style>
	header {
		border-bottom: 1px solid var(--off-black);
		nav {
			ul {
				display: flex;
				list-style: none;
				li {
					margin-left: 100px;
				}
			}
		}
	}
</style>

<script>
var timeDesk = document.getElementById('timeDesktop');

function time() {
  var d = new Date();
  var m = d.getMinutes();
  var h = d.getHours();
  timeDesk.textContent = 
    ("0" + h).substr(-2) + ":" + ("0" + m).substr(-2);
}

setInterval(time, 1000);
</script>